.input-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  font-family: var(--font-family);
  color: var(--color-neutral-800);
}

.input-label {
  font-weight: 500;
  text-align: left;
  color: var(--color-neutral-700);
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-neutral-100);
  background: var(--color-neutral-0);
  padding: 12px 14px;
  transition: box-shadow 120ms ease, border-color 120ms ease;
  border-radius: 2px;
}

.input-wrapper:focus-within {
  border-color: var(--color-primary-300);
  box-shadow: 0 0 0 3px rgba(96, 111, 196, 0.25);
}

.input-wrapper.is-invalid {
  border-color: var(--color-error);
  box-shadow: 0 0 0 3px var(--color-error-bg);
}

.is-disabled .input-wrapper {
  background: var(--color-neutral-50);
  color: var(--color-neutral-500);
}

.input-el {
  flex: 1;
  min-width: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-weight: 400;
  color: inherit;
  background: transparent;
}

textarea .input-el {
  min-height: 96px;
  resize: vertical;
}

select.input-el {
  appearance: none;
  -webkit-appearance: none; /* Safari / Chrome */
  -moz-appearance: none; /* Firefox */
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  outline: none;
  width: 100%;
  padding: 0;
  cursor: pointer;
}

.icon {
  font-size: var(--icon-size-large);
  color: var(--color-neutral-600);
  line-height: 1;
  user-select: none;
}

.icon.left {
  margin-right: 8px;
}
.icon.right {
  margin-left: 8px;
}

.has-left .input-el {
  padding-left: 0;
}
.has-right .input-el {
  padding-right: 0;
}

.helper.error {
  font-size: 12px;
  color: var(--color-error);
  text-align: left;
}

.tag-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 0.5rem; */
  padding: 0.5rem;
  min-height: 3rem;
  cursor: text;
}

.tag-input-wrapper {
  min-height: auto;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.tag-input {
  flex: 1 0 100%;
  min-width: 100px;
  border: none;
  outline: none;
  resize: none;
  font: inherit;
  padding: 0.25rem 0;
  line-height: 1.4;
  background: transparent;
}

.tag-input::-webkit-resizer {
  display: none;
}

.timestamp-label {
  /* font for Date & Time sub headers when creating event */
  font-size: 0.8rem;
  opacity: 0.8;
}
