.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.img-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary-200);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--color-primary-600);
  font-size: 16px;
}

.username {
  font-size: 14px;
  color: var(--color-neutral-600);
  margin: 0;
}

.email {
  font-size: 12px;
  color: var(--color-neutral-500);
  margin: 0;
}
