.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  align-self: center;
  gap: 0.5rem;
  font-family: var(--font-family);
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.btn--large {
  padding: 0.625rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn--small {
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.285rem;
}

.btn--large .material-symbols-outlined {
  font-size: var(--icon-size-large);
}

.btn--small .material-symbols-outlined {
  font-size: var(--icon-size-small);
}

.btn--primary {
  background-color: var(--color-primary-600);
  color: var(--color-neutral-0);
}

.btn--primary:hover {
  background-color: var(--color-primary-700);
}

.btn--primary:active {
  background-color: var(--color-primary-800);
}

.btn--secondary {
  background-color: transparent;
  color: var(--color-primary-600);
  border: 2px solid var(--color-primary-600);
}

.btn--secondary:hover {
  background-color: var(--color-primary-100);
}

.btn--secondary:active {
  background-color: var(--color-primary-200);
}

.btn--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-600);
}

.btn--tertiary:hover {
  background-color: var(--color-primary-100);
  border-color: transparent;
  outline: none;
}

.btn--tertiary:active {
  background-color: var(--color-primary-200);
  border-color: transparent;
  outline: none;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.material-symbols-outlined {
  color: inherit;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
