.FilterBox {
  position: fixed;
  top: 100px;
  right: 0;
  width: 288px;
  height: 100vh;
  background-color: var(--color-neutral-0);
  border: 2px solid var(--color-neutral-100);
  box-shadow: 0 4px 8px var(--color-neutral-100);
  color: var(--color-neutral-600);
  font-weight: bold;
  text-align: center;
}

.FilterBox select {
  width: 80%;
  padding: 8px;
  border: 1px solid var(--color-neutral-100);
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
}

.FilterBox select:hover {
  border-color: var(--color-neutral-500);
}

.FilterBox .Keywords {
  font-size: 20px;
}
