.user-container h1 {
  color: var(--color-primary-700);
}

.user-container h2 {
  color: var(--color-primary-500);
}

.user-container h3 {
  color: var(--color-primary-300);
}

.user-info-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-info-line h3,
.user-info-line p {
  margin: 0;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  line-height: 1.8;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 55%;
  object-fit: cover;
}
