.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: var(--navbar-height);
  color: var(--color-primary-600);
  background-color: var(--color-neutral-0);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-neutral-100);
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 48px;
  display: block;
}

.navbar ul {
  display: flex;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar h1 {
  margin-left: 20px;
}

.navbar .account-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
}

.navbar .account-pic:hover {
  color: var(--color-neutral-0) !important;
  background-color: var(--color-primary-400) !important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
