.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10; /* to make NavBar appear above other elements */
  top: 0;
  width: 100%;
  height: 96px;
  color: var(--color-primary-600);
  background-color: var(--color-neutral-0);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-neutral-100);
}

.Navbar ul {
  display: flex;
  gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar li {
  margin-right: 20px;
}

.Navbar h1 {
  margin-left: 20px;
}

.Navbar .AccountButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
}

.Navbar .AccountButton:hover {
  color: var(--color-neutral-0) !important;
  background-color: var(--color-primary-400) !important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
