.FilterBox {
  position: fixed;
  top: 96px;
  right: 0;
  width: 288px;
  height: calc(100vh - 96px);
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-600);
  border: 1px solid var(--color-neutral-100);
  overflow-y: auto;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section input {
  transform: scale(1.4);
}

.sidebar-section h3,
.sidebar-section h4 {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.sidebar-section h3 {
  font-weight: 600;
  color: var(--color-neutral-800);
}

.sidebar-section h4 {
  font-weight: 600;
  color: var(--color-neutral-700);
}

.sidebar-section {
  padding: 1rem;
  border-bottom: 2px solid var(--color-neutral-100);
}

.sidebar-section .button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  padding-top: 1rem;
}

select {
  width: 80%;
  padding: 8px;
  border: 1px solid var(--color-neutral-100);
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
}

select:hover {
  border-color: var(--color-neutral-500);
}

.FilterBox .Keywords {
  font-size: 20px;
}
