@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  /* Primary color */
  --color-primary-900: rgba(1, 12, 72, 1);
  --color-primary-800: rgba(13, 29, 118, 1);
  --color-primary-700: rgba(33, 52, 154, 1);
  --color-primary-600: rgba(63, 81, 181, 1);
  --color-primary-500: rgba(96, 111, 196, 1);
  --color-primary-400: rgba(129, 142, 211, 1);
  --color-primary-300: rgba(163, 173, 224, 1);
  --color-primary-200: rgba(163, 173, 224, 1);
  --color-primary-100: rgba(235, 237, 249, 1);

  /* Neutral colors */
  --color-neutral-900: rgba(19, 19, 25, 1);
  --color-neutral-800: rgba(46, 46, 57, 1);
  --color-neutral-700: rgba(74, 74, 88, 1);
  --color-neutral-600: rgba(103, 103, 118, 1);
  --color-neutral-500: rgba(126, 126, 141, 1);
  --color-neutral-400: rgba(149, 149, 163, 1);
  --color-neutral-300: rgba(173, 173, 185, 1);
  --color-neutral-200: rgba(197, 197, 207, 1);
  --color-neutral-100: rgba(222, 222, 228, 1);
  --color-neutral-50: rgba(247, 247, 249, 1);
  --color-neutral-0: rgba(255, 255, 255, 1);

  /* Semantic colors */
  --color-error: #f71a45;
  --color-success: #00c66b;
  --color-warning: #ecb000;

  /* Typography */
  --font-family: "Funnel Sans", system-ui, sans-serif;

  /* Icon presets */
  --icon-size-small: 1rem;
  --icon-size-large: 1.5rem;
  --icon-color-primary: var(--color-primary-600);
  --icon-color-white: var(--color-neutral-0);
}

/* Material Symbols icons */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
