.card {
  width: 272px;
  min-height: 368px;
  height: auto;
  color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-100);
  background-color: var(--color-neutral-0);
  font-family: var(--font-family);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.card .image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.card .organisation {
  color: var(--color-primary-600);
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
}

.card .headline {
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 4px;
}

.card .event-time {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-neutral-600);
}

.card .date-time-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 12px;
  position: relative;
}

.card .bottom-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1rem;
}

.card .event-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.card .all-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 16px 8px 16px;
}

.card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
