:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-neutral-800);
  background-color: var(--color-neutral-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: inline-flex;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background: var(--color-primary-600);
  font-size: 1em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}
button:hover {
  border-color: var(--color-primary-700);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
