@import "./components/tokens.css";

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-neutral-50);
  font-family: var(--font-family);
  overscroll-behavior: none;
  overflow-x: hidden;
}

aside {
  position: fixed;
  top: var(--navbar-height);
  right: 16px;
  width: var(--sidebar-width);
  height: calc(100vh - 80px);
  background-color: var(--color-neutral-0);
  border-left: 1px solid var(--color-neutral-100);
  overflow-y: auto;
  box-sizing: border-box;
}

.grid-container {
  width: calc(100% - var(--sidebar-width));
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--event-card-width));
  gap: var(--grid-spacing);
  justify-content: center;
  padding: 0 var(--front-page-min-margin);
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.event-count {
  grid-column: 1 / -1;
  margin-top: 20px;
}

.event-count h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--color-neutral-800);
}
